{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Заказ билетов
</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<form method="POST" action="/booking">
    <div class="field">
        <div class="control">
            <input class="input is-large" type="text" name="FIO" placeholder="ФИО" autofocus="">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <select class="input is-large" name="fromto">
                {% for i in lst%}
                    <option value="{{ i['id'] }}">Из {{i['from_']}} в {{i['to_']}}; отправление - {{i['time']}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-large" type="date" name="date">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <select class="input is-large" name="class">
              <option value="Eco">Эконом</option>
              <option value="Bui">Бизнес</option>
            </select>
        </div>
    </div>
    <button class="button is-block is-info is-large is-fullwidth">Заказать</button>
</form>
{% endblock %}