{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Создание рейсов
</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<form method="POST" action="/creation_menu/create">
    <div class="field">
        <div class="control">
            <input class="input is-large" type="time" name="time">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input class="input is-large" type="text" name="from" placeholder="Откуда" autofocus="">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-large" type="text" name="to" placeholder="Куда" autofocus="">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-large" type="number" name="eco" placeholder="Мест в эконом-классе" autofocus="">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-large" type="number" name="ecop" placeholder="Цена за место в эконом-классе" autofocus="">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-large" type="number" name="bui" placeholder="Мест в бизнес-классе" autofocus="">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-large" type="number" name="buip" placeholder="Цена за место в бизнес-классе" autofocus="">
        </div>
    </div>
    <button class="button is-block is-info is-large is-fullwidth">Создать</button>
</form>
{% endblock %}